.box {
    background-color: yellow;
    width: 230px;
    height: 230px;
    position: relative;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.info {
    position: absolute;
    color: black;
}
