.box {
    background-color: yellow;
    width: 230px;
    height: 230px;
    position: relative;
    border-radius: 10px;
    margin: 2%;
}

.info {
    position: absolute;
    bottom: 0;
    color: black;
}
