

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: yellow;
  text-align: center;
}


.filtre{
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: 20px solid transparent;
  width: 91%;
  margin-left: 4%;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-dropdown {
  margin-right: 10px;
}

.sort-dropdown {
  margin-right: 10px;
}

.search-input {
  padding: 5px;
  width: 200px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pokemon-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.pokemon-detail {
  margin-top: 20px;
}

.back-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.container,
.filter-container,
.filter-dropdown,
.sort-dropdown,
.search-input,
.pokemon-list,
.pokemon-item,
.pokemon-image,
.pokemon-detail,
.back-button {

}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4%;
  margin-top: 2%;
}

.pokebox {
 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 25px solid transparent;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: yellow;
  width: 200px;
  height: 200px;
  flex-direction: column;
  position: relative;
}

.imgpoke{
  margin-top: 20%;
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.boxtypes {
  display: flex;
  align-items: center;

}
.genpoke{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px; /* Largeur de la boule */
  height: 20px; /* Hauteur de la boule */
  background-color: rgb(96, 16, 96); /* Couleur violette de la boule */
  border-radius: 50%; /* Bordure arrondie pour créer une boule */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Couleur du texte à l'intérieur de la boule */
  font-size: 12px; 
}
*
.idpoke{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px; 
}

